<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead class="thead-default">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      {{#each files as |file|}}
      <tr>
        {{#if file.isDirectory}}
        <td><div class="folder-icon"></div></td>
        <td>{{#link-to "files" file.filePath class="nav-link"}}{{file.base}}{{/link-to}}</td>
        {{else}}
        <td></td>
        <td><a href="" {{action "openFile" file.filePath}}>{{file.base}}</a></td>
        {{/if}}
        <td>{{file.fileType}}</td>
        <td>{{file.fileSize}}</td>
        <td>{{file.mtime}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>